**/*.DS_Store
**/*.asv
Treatment_plan/MAIN/Data/Efield_*
Treatment_plan/MAIN/Data/df_*
Treatment_plan/MAIN/Data/sigma_*
Treatment_plan/MAIN/Temperatures.txt
Treatment_plan/MAIN/iteration.mat
Treatment_plan/MAIN/ChangeTemp.mat
Treatment_plan/MAIN/Data/HTPData
Treatment_plan/MAIN/Scripts/Input_to_FEniCS/
Treatment_plan/MAIN/Results/Input_to_FEniCS/
Treatment_plan/MAIN/Results/P_and_unscaled_settings/
Treatment_plan/MAIN/Results/T_and_final_settings/
Treatment_plan/MAIN/Scripts/Input_to_FEniCS/
Treatment_plan/MAIN/Results/FEniCS_results/
Treatment_plan/MAIN/Scripts/Prep_FEniCS/tmp/Stage2/perfusion.mat
Treatment_plan/MAIN/Figures/
Treatment_plan/MAIN/Logs/
